Repository bagherilab/container-collection, pull requests merged in 2022-11, with the labels that each got.

#16 Add docker volumes tasks
  poetry.lock
  pyproject.toml
  src/container_collection/docker/__init__.py
  src/container_collection/docker/create_docker_volume.py
  src/container_collection/docker/remove_docker_volume.py
  src/container_collection/docker/run_docker_command.py
  src/container_collection/docker/submit_docker_job.py
Labels: type: feature

#17 Remove Prefect secrets usage
  src/container_collection/batch/make_batch_job.py
  src/container_collection/docker/run_docker_command.py
  src/container_collection/fargate/make_fargate_task.py
  src/container_collection/fargate/submit_fargate_task.py
Labels: type: bug

#19 Pass series name to summarize manifest files task
  src/container_collection/manifest/summarize_manifest_files.py
Labels: type: bug

#15 Add tests for generate input contents task
  src/container_collection/template/generate_input_contents.py
  tests/container_collection/__init__.py
  tests/container_collection/template/test_generate_input_contents.py
Labels: type: test

#23 Add tests for update manifest contents task
  src/container_collection/manifest/update_manifest_contents.py
  tests/container_collection/manifest/test_update_manifest_contents.py
Labels: type: test

#24 Add tests for summarize manifest files task
  src/container_collection/manifest/summarize_manifest_files.py
  tests/container_collection/manifest/test_summarize_manifest_files.py
Labels: type: test
